<!-- EXPANDABLE --COMPONENT 1 -->
      <ion-row *ngIf="data != null">
        <ion-col size="12" class="ion-no-padding">
          <ion-list class="ion-no-margin" #dynamicList>
            <ul  class="ion-no-margin collapsible ion-no-padding">
              <li *ngFor="let group of data.items;">
                <!-- List big image Header -->
                <div class="ion-no-padding collapsible-header" (click)="toggleGroup(group)">
                  <ion-item-sliding #sliding >
                    <ion-item-options side="start">
                      <ion-item-option class="background-accent" (click)="onUpdateFunc(group, $event)">
                        <!-- Button -->
                        <ion-button class="text-color-light text-size-md font-bold  ion-text-capitalize" fill="clear" (click)="update(item)">
                          Update
                        </ion-button>
                       
                      </ion-item-option>
                      
                    </ion-item-options>
                  <ion-item>
                    <ion-label class="ion-padding-start ion-align-self-start">
                      <h2 class="ion-text-wrap text-size-md text-color-primary font-light">Trasaction ID: {{group.title}}</h2>
                      <h2 class="ion-text-wrap text-size-md text-color-primary font-light">{{group.date}}</h2> 
                      <h3 class="ion-text-wrap text-size-xs text-color-secondary font-light">{{group.landingsite}}</h3>
                      <h3 class="ion-text-wrap text-size-xs text-color-secondary font-light">{{group.fisherman}}</h3>
                      <h3 class="ion-text-wrap text-size-xs text-color-secondary font-light">{{group.boat}}</h3>
                    </ion-label>
                  </ion-item>

                  <ion-item-options side="end">
                    <ion-item-option class="background-accent" (click)="onDeleteFunc(group, $event)">
                      <!-- Button -->
                      <ion-button class="text-color-light text-size-md font-bold  ion-text-capitalize" fill="clear" (click)="delete(item)">
                        Delete
                      </ion-button>
                     
                    </ion-item-option>
                    
                  </ion-item-options>
                  
                </ion-item-sliding>
                </div><!-- End List big image Header -->
                <!-- LIST OPEN ACCORDIAN BODY  -->
                <div class="item-accordion" [ngClass]="{'active': group.show }" [hidden]="!group.show">
                  <ion-item *ngFor="let item of group.items;" (click)="onItemClickFunc(item, $event)">
                    <!-- Avatar -->
                    <ion-thumbnail>
                      <img [src]="item.image" [alt]="item.title" />
                    </ion-thumbnail>
                    <ion-label class="ion-padding-start">
                      <!-- Subtitle Title -->
                      <h2 class="ion-text-nowrap text-size-md text-color-primary font-light"> Species : {{item.Species}}</h2>
                      <!-- Subtitle Subtitle -->
                      <h3 class="ion-text-wrap text-size-xs text-color-secondary font-light">Weight : {{item.Weight}}</h3>
                      <h3 class="ion-text-wrap text-size-xs text-color-secondary font-light">Length : {{item.Length}}</h3>
                    </ion-label>
                    <p class="text-size-xs text-color-secondary font-light">{{item.details}}</p>
                  </ion-item>
                </div>
                <!-- End List big image Body -->
              </li>
            </ul>
          </ion-list>
        </ion-col>
      </ion-row>
    
